---
import MdLayout from '../../layouts/MdLayout.astro';
import { newsItems } from '../../data/newsItems';
---

<MdLayout frontmatter={{ title: 'News' }}>
    <h1>News</h1>
    {
        newsItems.map((item) => (
            <div class='mt-8'>
                <h2>
                    <a href={`/news/${item.slug}`}>{item.title}</a>
                </h2>
                <div class='italic mb-4'>By the Pathoplexus Team - {item.date}</div>
                <div>
                    <Fragment set:html={item.excerpt} />
                    <a href={`/news/${item.slug}`}>Read more</a>
                </div>
            </div>
        ))
    }
</MdLayout>
